@import '../../../global';

.user-form.edit_profile {
  margin-bottom: 50px;

  .edit-message {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: $spacing-XXS;
  }

  fieldset {
    padding-top: 60px;
  }

  .delete-div {
    left: 135px;
  }
}
