@import '../../global';

@media (max-width: 920px) {
  .hider {
    left: initial;
    right: $spacing-M;
  }
}

@media (max-width: 310px) {
  .form-wrapper,
  .form,
  .form fieldset {
    padding-right: $spacing-XS;
    padding-left: $spacing-XS;

    .form-group {
      width: calc(100vw - 50px);
      input[type='file'] {
        width: calc(100vw - 50px);
        font-size: $font-S;
      }
    }
  }

  .event-form.edit_event fieldset {
    padding-top: 80px !important;
  }
}

@media (max-width: 266px) {
  .login .form-group:first-of-type .error-div {
    top: 48.5px;
  }
}
