@import '../../../global';

.user-profile-section {
  &.shrink {
    max-width: fit-content;
  }

  max-width: 900px;
  margin: auto;
  margin-bottom: $spacing-XL;

  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: $spacing-L;

  article {
    width: fit-content;
    border: $spacing-XS solid $theme-color-3;
    border-radius: $spacing-L;
    padding: 0 $spacing-S $spacing-S;

    display: flex;
    flex-direction: column;

    color: $text-color-1;
    .profile-picture {
      width: 90px;
      height: 90px;
      border: $theme-color-4 solid $spacing-XXS;
      margin-top: $spacing-XS;
    }
    .username,
    .email-address {
      font-size: $font-M;
    }
  }
  .edit-button {
    width: fit-content;
    @extend %button-base-1;
    margin-top: $spacing-S;
    margin-left: -$spacing-XS;
    font-size: $font-M;
    color: $text-color-1;
  }

  .log-out-button {
    font-size: $font-L;

    color: $text-color-3;
    @extend %button-base-1;
  }
}
