@import '../../../global';

.events-section {
  position: relative;

  .title-wrapper {
    max-width: 900px;
    margin: auto;
    .title-div {
      padding: $spacing-XS;

      display: flex;
      align-items: center;
      gap: $spacing-XS;

      background-color: $theme-color-3;
      border-radius: $spacing-L;
      width: fit-content;

      .profile-picture {
        background-color: $theme-color-1;
        height: 60px;
        width: 60px;
      }

      h2 {
        font-size: $font-M;
        font-family: $detail-font;
        color: $text-color-3;
        span {
          font-weight: 700;
        }
      }
    }
  }
  ul {
    max-width: 900px;
    min-height: 365px;

    display: flex;
    overflow-x: auto;

    gap: $spacing-XL;
    margin: $spacing-S auto;
    padding: $spacing-M;

    border-radius: $spacing-L;
    background-color: $theme-color-2;
    border: $spacing-XXS solid $theme-color-2;

    position: relative;

    &::-webkit-scrollbar {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: $theme-color-2 $spacing-XS solid;
      height: $spacing-S;
      background-color: $theme-color-1;
      border-radius: $spacing-L;
    }

    .success {
      background-color: $theme-color-3;

      top: 0;
      bottom: 0;
    }
  }
  .error-div {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  .loader.circle {
    top: 47%;
    left: 0;
    right: 0;

    width: 50px;
    height: 50px;
  }
}
