@import '../../global';

header {
  background-color: $theme-color-3;

  position: fixed;
  z-index: 1;

  top: 0;
  left: 0;
  right: 0;

  nav ul {
    margin: auto;

    max-width: 900px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing-M;

    padding: $spacing-XS $spacing-L;

    .navOption {
      font-family: $detail-font;
      font-size: $font-M;

      color: $text-color-2;

      font-weight: 800;
    }
    #profile-link {
      .profile-picture {
        width: 40px;
        height: 40px;

        @extend %button-base-1;
        padding: 0;
      }
    }
    li:first-of-type {
      margin-right: auto;
      #home-link h1 {
        font-family: $title-font;
        font-size: 30px;

        background: linear-gradient(to right, $text-color-1, $text-color-2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        color: $text-color-1;
      }
    }
    #login-link,
    #register-link {
      @extend %button-base-1;
    }
  }
}
