@import '../../global';

.event-article.detail {
  flex-direction: row;
  align-items: center;

  max-width: 600px;

  margin: $spacing-XL auto;

  font-size: $font-SM;
  gap: $spacing-M;

  height: fit-content;

  .img-wrapper {
    .img {
      height: 225px;
      width: 300px;
    }
  }

  .content-wrapper {
    padding: $spacing-M $spacing-XS;
    a {
      h3 {
        font-size: $font-M;

        cursor: default;
        transition: none;

        white-space: initial;
        overflow: initial;
        text-overflow: initial;

        width: auto;

        &:hover {
          transform: none;
        }
      }
    }

    .category {
      top: 20%;
    }

    .description {
      display: block;
    }

    .creator-section .username {
      margin-left: -7px;
      padding-left: 7px;
    }
  }
}
