@import '../../global';

.event-creation-wrapper {
  position: fixed;
  left: calc(50% + 450px - 55px);
  top: 50%;
  transform: translateY(-50%);

  .creation-button {
    border-radius: 100%;
    border: $spacing-XS solid $theme-color-4;
    background-color: $theme-color-1-transparent;
    backdrop-filter: blur(3px);
    width: 50px;
    height: 50px;

    color: $text-color-2;
    font-size: $font-L;
    font-weight: 800;

    position: relative;
    z-index: 1;

    &:hover {
      border-color: $theme-color-2;

      & + span {
        display: block;
        position: absolute;
      }
    }
  }
  span {
    display: none;
    font-size: $font-SM;
    font-weight: 700;
    color: $text-color-2;
    background-color: $theme-color-1-transparent;
    backdrop-filter: blur(3px);
    border-radius: $spacing-S;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: $spacing-XS;
    padding-right: $spacing-S;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    right: 43px;

    border: $spacing-XS solid $theme-color-2;
    border-right: none;
  }
  .error-div {
    position: absolute;
    white-space: nowrap;
    right: 0;
  }
}
