@import './global';

@font-face {
  font-family: Lobster;
  font-style: normal;
  src: url('/public/assets/fonts/Lobster/Lobster-Regular.ttf');
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;

  font-weight: 400;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;

  background-color: $theme-color-1;

  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100svh;

    padding-top: 48px;
  }
}

.profile-picture {
  border-radius: 100%;
}

.invisible {
  display: none;
}
